

/*
body {
    background-color: #030001;
    background-image: url("https://www.transparenttextures.com/patterns/old-wall.png");
}

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
}
*/
body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    padding-bottom: 20px;
    width: 1100px;
    margin: 0 auto;
}

.jumbotron {
    padding: 20px;
    background: #21b57e;
    color: white;
}

.title {
    font-size: 25px;
    background: #636363;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
}

/*-----------------------------------------------------------------------------
Bokeh */

.bk-root {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Widget container */
.bk-root .bk-widget  {
    margin-left: -5px;
}

/* Select box */
.bk-root .bk-widget-form-input {
    border-radius: 0;
}

/* Without this width the label will collapse if label is too short
(bug in Bokeh) */
.bk-root .bk-widget label {
    width: 100%;
}
